<% layout("layouts/boilerplate.ejs") %>

<body>
        <!-- <h1>All Listings</h1> -->
        <!-- <form method="get" action="/listings/new" >
            <button>Create New List</button>
        </form> -->
        
        <div id="filters">
          <div class="filter" onclick="navigateToURL('trending')">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
          </div>
          <div class="filter" onclick="navigateToURL('room')">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>room</p>
          </div>
          <div class="filter" onclick="navigateToURL('Iconic')">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
          </div>
          <div class="filter" onclick="navigateToURL('Mountains')">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
          </div>
          <div class="filter" onclick="navigateToURL('Castles')">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
          </div>
          <div class="filter" onclick="navigateToURL('pools')">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing pools</p>
          </div>
          <div class="filter" onclick="navigateToURL('Camping')">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
          </div>
          <div class="filter" onclick="navigateToURL('farms')">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>farms</p>
          </div>
          <div class="filter" onclick="navigateToURL('arctic')">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>arctic</p>
          </div>
          <div class="filter" onclick="navigateToURL('doms')">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>doms</p>
          </div>
          <div class="filter" onclick="navigateToURL('island')">
            <div><i class="fa-solid fa-sailboat"></i></div>
            <p>island</p>
          </div>
          <div class="filter" onclick="navigateToURL('cafe')">
            <div><i class="fa-solid fa-mug-saucer"></i></div>
            <p>cafe</p>
          </div>
          <div class="filter" onclick="navigateToURL('artistic')">
            <div><i class="fa-brands fa-artstation"></i></div>
            <p>artistic place</p>
          </div>
          <div class="filter" onclick="navigateToURL('view')">
            <div><i class="fa-solid fa-photo-film"></i></div>
            <p>best view</p>
          </div>
          <div class="tax-toggle mb-1">
            <div class="form-check-reverse form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
          </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1.5">
            <%for(let listing of allListing){%>
              <a href="/listings/<%= listing.id %>" class="listing-links">
                <div class="card col listing-card" >
                  <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing_img" style="height: 20rem;">
                  <div class="card-img-overlay"></div>
                  <div class="card-body">
                    <p class="card-text">
                      <b><%= listing && listing.title %></b> <br>
                      <% if (listing && listing.price) { %>
                          <i class="tax-info-before">&#8377;<%= listing.price.toLocaleString("en-IN") %> / night</i>
                          <i class="tax-info-after">&#8377;<%= (listing.price * 1.18).toLocaleString("en-IN") %> / night</i>
                      <% } else { %>
                          Price information not available
                      <% } %>
                  </p>
                  </div>
                </div>
              </a>
            <%} %>
        </div>
        <script>
          function navigateToURL(filter) {
              let baseURL = 'http://localhost:8080/listings/find/'; 
              let url;
              switch (filter) {
                  case 'trending':
                      url = 'trending';
                      break;
                  case 'room':
                      url = 'room';
                      break;
                  case 'Iconic':
                      url = 'Iconic';
                      break;
                  case 'Mountains':
                      url = 'Mountains';
                      break;
                  case 'Castles':
                      url = 'Castles';
                      break;
                  case 'pools':
                      url = 'pools';
                      break;
                  case 'Camping':
                      url = 'Camping';
                      break;
                  case 'farms':
                      url = 'farms';
                      break;
                  case 'arctic':
                      url = 'arctic';
                      break;
                  case 'doms':
                      url = 'doms';
                      break;
                  case 'island':
                      url = 'island';
                      break;
                  case 'cafe':
                      url = 'cafe';
                      break;
                  case 'artistic':
                      url = 'artistic';
                      break;
                  case 'view':
                      url = 'view';
                      break;
                  default:
                      url = ''; // Default URL if no match
              }
      
              // Combine base URL and filter-specific URL
              let finalURL = baseURL + url;
      
              // Navigate to the final URL
              window.location.href = finalURL;
          }
      </script>
</body>


